{% set publicationArticles = [ {
    img: 'http://via.placeholder.com/300x200',
    title: 'Название статьи №1',
    text: '<p>Выбирая украшения с перидотом, особое внимание обрати на кольца и серьги PANDORA: для новой коллекции ювелиры бренда выбрали камни мягкого оливкового цвета, тщательно огранили их и оправили.</p><p>Tщательно огранили их и оправили в стерлинговое серебро — броско и в то же время универсально.</p>',
},{
    img: 'http://via.placeholder.com/300x200',
    title: 'Длинное название статьи №2',
    text: '<p>Выбирая украшения с перидотом, особое внимание обрати на кольца и серьги PANDORA: для новой коллекции ювелиры бренда выбрали камни мягкого оливкового цвета, тщательно огранили их и оправили в стерлинговое серебро — броско и в то же время универсально.</p>',
},{
    img: 'http://via.placeholder.com/300x200',
    title: 'Длинное название статьи №3',
    text: '<p>Выбирая украшения с перидотом, особое внимание обрати на кольца и серьги PANDORA: для новой коллекции ювелиры бренда выбрали камни мягкого оливкового цвета, тщательно огранили их и оправили в стерлинговое серебро — броско и в то же время универсально.</p>',
},{
    img: 'http://via.placeholder.com/300x200',
    title: 'Название статьи №4',
    text: '<p>Выбирая украшения с перидотом, особое внимание обрати на кольца и серьги PANDORA: для новой коллекции ювелиры бренда выбрали камни мягкого оливкового цвета, тщательно огранили их и оправили в стерлинговое серебро — броско и в то же время универсально.</p>',
},{
    img: 'http://via.placeholder.com/300x200',
    title: 'Длинное название статьи №5',
    text: '<p>Выбирая украшения с перидотом, особое внимание обрати на кольца и серьги PANDORA: для новой коллекции ювелиры бренда выбрали камни мягкого оливкового цвета, тщательно огранили их и оправили в стерлинговое серебро — броско и в то же время универсально.</p>',
},{
    img: 'http://via.placeholder.com/300x200',
    title: 'Название статьи №6',
    text: '<p>Выбирая украшения с перидотом, особое внимание обрати на кольца и серьги PANDORA: для новой коллекции ювелиры бренда выбрали камни мягкого оливкового цвета, тщательно огранили их и оправили в стерлинговое серебро — броско и в то же время универсально.</p>',
}] %}
<div class="publication-list">
    {% for item in publicationArticles %}
        <div class="publication-list__item">
            <div class="publication-list__img">
                <a href="/text.html"><img src="{{ item.img }}" alt="{{ item.title }}" title="{{ item.title }}"></a>
            </div>
            <div class="publication-list__text">
                <span class="publication-list__date">15 дек 2017</span>
                <a class="publication-list__name" href="/text.html">{{ item.title }}</a>
                <p>{{ item.text }}</p>
            </div>
        </div>
    {% endfor %}
</div>